{% extends "components/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 px-md-4 main-content">

            <!-- Mostrar errores generales del formulario -->
            {% include 'includes/message_error_form.html' %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <!-- Formulario de Item -->
            <form method="post" class="py-4">
                {% csrf_token %}
                <div class="card shadow p-4">
                    <h3 class="text-primary mb-4 fw-bold">{{ title1 }}</h3>
                    <div class="row g-3">

                        <!-- Campo nombre -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.nombre.id_for_label }}" class="form-label fw-bold">{{ form.nombre.label }}</label>
                                {{ form.nombre }}
                                {{ form.nombre.errors }}
                            </div>
                        </div>

                        <!-- Campo descripcion -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.descripcion.id_for_label }}" class="form-label fw-bold">{{ form.descripcion.label }}</label>
                                {{ form.descripcion }}
                                {{ form.descripcion.errors }}
                            </div>
                        </div>
                        <!-- Campo tipo_objeto -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.tipo_objeto.id_for_label }}" class="form-label fw-bold">{{ form.tipo_objeto.label }}</label>
                                {{ form.tipo_objeto }}
                                {{ form.tipo_objeto.errors }}
                            </div>
                        </div>
                        <!-- Campo categoria -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.categoria.id_for_label }}" class="form-label fw-bold">{{ form.categoria.label }}</label>
                                {{ form.categoria }}
                                {{ form.categoria.errors }}
                            </div>
                        </div>
                    </div>

                    <!-- Botones de acción -->
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-outline-success me-2" type="submit">{{ grabar }}</button>
                        <a class="btn btn-outline-warning" href="{{ back_url }}">Cancelar</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
